/* =============================
		MAIN
============================= */
html, body {
	height: 100%;
}
.all-container {
	min-height: 100%;
	padding: 0;
	position: relative;
}

body {
	font-family: $primaryFont;
}

h1 {
	font-weight: 700;
}

/* =============================
		HEADER
============================= */
.main-head {
	min-height: 25em;
	position: relative;
}

/* =============================
		FOOTER
============================= */
.footer-container {
	position: absolute;
	max-height: 4em;
	width: 100%;
	padding: 3em;
	margin: 3em 0 0;
	bottom: 0;
	left: 0;
	text-align: center;
	background: $darkGrey;
	color: $lightGrey;
}
#foot {
	width: 100%;
	margin-left: 0;
}