/* ============================
		COLORS
============================ */

$orange: #FFCA1C;
$darkBlue: #011627;
$almostWhite: #FDFFFC;
$turquoise: #2EC4B6;
$red: #E71D36;
$white: #fff;
$black: #000;
$lightGrey: #666;
$darkGrey: #333;


/* ============================
		FONTS
============================ */

$primaryFont: 'Raleway', sans-serif;