/* ============================
		COLORS
============================ */

$white: #fff;
$black: #000;
$lightGrey: #666;
$darkGrey: #333;


/* ============================
		FONTS
============================ */

$primaryFont: 'Raleway', sans-serif;